<!doctype html>
<html lang=ja ng-app="MyModule">
  <head>
    <meta charset=utf-8>
    <title>Pomodoro Stack</title>
    <style>
        .done-true{
            color:gray;
            text-decoration:line-through;
        }
        
        .task-body{
            display: inline-block;
            width:300px;
        }
        
        #tasks > li > *{
            vertical-align:middle;
            font-size:120%;
            margin:0;
            padding:0;
            word-wrap: break-word;
        }
        
    </style>
    <script src=http://code.angularjs.org/1.1.0/angular.min.js></script>
    <script src=pomodoro_stack.js></script>
  </head>
  <body ng-controller="TimerCtrl">
    <div>
      <h1>{{time | date:'mm:ss'}}</h1>
      <button ng-click="stop()">Stop</button>
    </div>
    <div ng-controller="ToDoCtrl">
        <p>Finished Task: {{getDoneCount()}} / {{tasks.length}}
            <button ng-click="deleteDone()">Delete Finished</button>
        </p>
        <ul id=tasks>
            <li ng-repeat="task in tasks">
                <input type=checkbox ng-model="task.done">
                <span class="task-body done-{{task.done}}" contenteditable>{{task.body}}</span>
                <button href ng-click="addPomodoro($index)">+1</button>
                <button href ng-click="deletePomodoro($index)">-1</button>
                <img class=tomate_icon ng-click="startPomo(task)" src=tomate.gif width=25 height=25></img>
                <span>×{{task.pomoCnt}}</span>
                <button ng-click="tasks.splice($index,1)">Delete</button>
            </li>
        </ul>
        <form ng-submit="addNew()">
            <input type=text ng-model=newTaskBody>
            <input type=submit value=add>
        </form>
        
    </div>    
  </body>
</html>